name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PAT }}

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - uses: evantorrie/mott-the-tidier@v1-beta
        with:
          gomods: |
            **/go.mod
            -tools/go.mod

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Auto-fix go.sum discrepancies

      - name: Build
        if: steps.auto-commit-action.outputs.changes_detected == false
        run: go build -v ./...

      - name: Test
        if: steps.auto-commit-action.outputs.changes_detected == false
        run: go test -v ./...
