name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PAT }}

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - uses: autero1/action-gotestsum@v1.0.0
        with:
          gotestsum_version: 1.7.0

      - uses: evantorrie/mott-the-tidier@v1-beta
        with:
          gomods: |
            **/go.mod
            -tools/go.mod

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Auto-fix go.sum discrepancies

      - name: Test
        if: steps.auto-commit-action.outputs.changes_detected == false
        run: gotestsum --junitfile tests.xml

      - name: Upload Unit Test Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: Unit Test Results
          path: tests.xml

  publish-test-results:
    name: "Publish Unit Tests Results"
    needs: build
    runs-on: ubuntu-latest
    # the build-and-test job might be skipped, we don't need to run this job then
    if: success() || failure()

    steps:
      - name: Cache PIP Packages
        uses: actions/cache@v2
        id: cache
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt', 'composite/action.yml') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action/composite@v1
        with:
          files: artifacts/**/*.xml
